<%= render 'layouts/page_header', header: render(Breadcrumbs::BreadcrumbsComponent.new(breadcrumbs: @breadcrumbs)) do %>
  <%= button_to goal_milestone_path(@milestone), method: :delete, form: { data: { turbo_confirm: t('milestones.destroy.confirmation', name: @milestone.name) } }, class: destroy_button("ml-auto"), 'aria-label': 'Delete' do %>
    <%= heroicon "trash", variant: "solid", options: { class: "w-5 h-5" } %>
  <% end %>
<% end %>

<div class="flex flex-col pb-4">
  <%= form_for @milestone, url: goal_milestone_path(@goal, @milestone) do |f| %>
    <div class="flex flex-col pb-4">
      <%= f.label :name, t('milestones.new.name_label'), class: label_class("text-xl") %>
      <%= f.text_field :name, class: text_field_class("text-xl"), autofocus: true %>
      <%= render 'layouts/forms/input_error', model: @milestone, field: :name %>
    </div>

    <div class="flex flex-col pb-4">
      <%= f.label :description, t('milestones.new.description_label'), class: label_class("text-xl") %>
      <%= f.text_area :description, class: text_field_class("text-xl") %>
      <%= render 'layouts/forms/input_error', model: @milestone, field: :description %>
    </div>

    <div class="flex flex-col pb-4">
      <%= f.label :completed, t('milestones.new.completed_label'), class: label_class("text-xl") %>
      <%= f.check_box :completed, class: "text-xl mt-2 p-4 rounded-md border-gray-200 text-indigo-500" %>
      <%= render 'layouts/forms/input_error', model: @milestone, field: :completed %>
    </div>

    <div class="flex w-100">
      <%= f.submit nil, class: primary_button("ml-auto") %>
    </div>
  <% end %>
</div>
