<div class="flex flex-col space-y-4" id='task-list'>
  <div data-controller="date-select-picker" data-date-select-picker-hidden-class="hidden">
    <div class="flex items-center pb-2">
      <button
        id=date-select-picker-button
        data-action="click->date-select-picker#toggle"
        class="text-3xl font-semibold cursor-pointer select-none">
        <%= human_date_string(datetime: @date) %>
      </button>
      <%= link_to new_adhoc_task_path(task_list_id: @task_list.id), class: 'ml-auto' do %>
        <button class="<%= primary_button %>"><%= t('tasks.adhoc.new') %></button>
      <% end %>
    </div>
    <div id="date_select_picker" data-date-select-picker-target="dateSelectPicker" class="hidden">
      <%= form_with path: tasks_path, scope: :task_list do |f| %>
        <%= f.label :date, t('tasks.date.label'), class: "block mb-4 text-md font-medium text-gray-900 dark:text-white" %>
        <div class="flex space-x-4 mt-2">
          <%= f.date_select :date, { default: @date, order: [:month, :day, :year] }, { class: "border border-gray-300 text-gray-900 text-md rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
          <button
            id="date_select_button"
            class="<%= neutral_button %>"
            formmethod="get"
            formaction="<%= tasks_path %>"
          >
            <%= t('tasks.date.button') %>
          </button>
        </div>
        </div>
      <% end %>
      </div>
  <%= render 'tasks/task_list' %>
</div>
